body,
html {
    background-color: #D7CCC8;
}

.ex-top-margin {
    margin-top: 30px;
}

.accent-red { 
    background: #D32F2F; 
}

.thumbnail-img {
    max-height: 223px;
    max-width: 326px;
    align-items: center;
}

.details-img {
    max-height: 500px;
    max-width: 350px;
    float: right;
}

.ex-left-margin {
    margin-left: 30px;
}

.avg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: #8BC34A;
}
