body,
html {
    background-color: #D7CCC8;
}

.ex-top-margin {
    margin-top: 30px;
}

.accent-red { 
    background: #D32F2F; 
}

.thumbnail-img {
    max-height: 246px;
    max-width: 326px;
}

.details-img {
    max-height: 500px;
    max-width: 350px;
}